fastapi>=0.109.1
pydantic>=2.5.0
mangum==0.17.0
python-dotenv==1.0.0
uvicorn==0.24.0
httpx>=0.24.0
langchain-community>=0.2.0
langchain-openai>=0.0.5
openai
langgraph==0.3.31
langchain-core>=0.1.17
langchain-anthropic
langchain-ollama
fpdf
beautifulsoup4
lxml
langchain_mcp
langchain-mcp-adapters==0.0.9
langchain-google-genai
Pillow==10.3.0
html5lib
requests